.explorer {
  padding: $p-block;
  grid-column: 1 / 3;

  .explorer__title {
    @extend %block-title;
  }

  .explorer__form-search {
    display: flex;
    align-items: center;
    gap: $gap-small;
    .form-search__searcher {
      width: 100%;
      height: 46px;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      [type="search"] {
        width: 100%;
        &::placeholder {
          color: #ccc;
        }
      }
    }
    .form-search__btn {
      transition: all 150ms ease-in-out;
      &:hover {
        filter: brightness(1.2);
      }
    }
  }

  .dropdown {
    display: inline-block;
    border-radius: $r-small;
    position: relative;

    .dropdown__button {
      width: 100px;
      display: flex;
      position: relative;
      align-items: center;
      text-align: left;
      border-bottom: 1px solid #fff;
      height: 46px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      cursor: pointer;
      img {
        width: 30px;
        height: 30px;
        margin-right: 4px;
        z-index: 0;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-width: 6px 6px 0 6px;
        border-color: #fff transparent transparent transparent;
        border-style: solid;
        pointer-events: none;
      }
    }

    .dropdown__list {
      display: none;
      position: absolute;
      left: 0;
      top: 52px;
      margin: 0;
      padding: 0;
      background: #ccc;
      box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
      overflow: hidden;
      border-radius: $r-small;
      z-index: 1;

      .dropdown__item {
        width: 100px;
        display: flex;
        gap: $gap-small;
        margin: 0;
        padding: 0;
        border: $regular-border;
        border-bottom: 0px;
        padding: 10px;
        background-color: $block-bg;
        cursor: pointer;
        transition: background-color 250ms ease-in-out;
        img {
          width: 30px;
          height: 30px;
        }
        &:hover {
          background: $main-bg;
        }
      }
    }
    .dropdown__list--visible {
      display: block;
    }
    .dropdown__input-hidden {
      display: none;
    }
    .dropdown__button:focus,
    .dropdown__button--active {
      outline: none;
    }
  }
}
